<div class="h-15 w-full bg-gray-950 flex items-center gap-4" data-controller="audio-player"> 
  <%= image_tag(song.image, class: "w-20 h-full object-cover" ) %>
  <p class="text-lg text-white"> <%= song.title %> </p>
  <div class="flex text-white">
    <span data-audio-player-target="currentTime"> 00:00 </span>
    /
    <span data-audio-player-target="duration"> 00:00 </span>
  </div>
  <input type="range" class="max-w-2xl w-full" data-audio-player-target="range" />
</div>
