<div class="h-15 w-full bg-gray-950 flex items-center gap-4"> 
  <%= image_tag(song.image, class: "w-20 h-full object-cover" ) %>
  <p class="text-lg text-white"> <%= song.title %> </p>
  <input type="range" class="max-w-2xl w-full"/>
</div>
