<div class="h-15 w-full bg-gray-950 flex items-center gap-4" data-controller="audio-player" data-action="music:toggled@window->audio-player#updatePlayButton"> 
  <%= image_tag(song.image, class: "w-20 h-full object-cover" ) %>
  <p class="text-lg text-white"> <%= song.title %> </p>
  
  <%= link_to "", data: { action: "audio-player#toggle" } do %> <!-- Refers to stimulus music controller, to the action play !-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-15 fill-green-400 opacity-60 stroke-black hover:fill-green-200 hover:opacity-100" data-audio-player-target="play" alt="play-bottom">
      <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z" clip-rule="evenodd" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-15 fill-green-400 opacity-60 stroke-black hover:fill-green-200 hover:opacity-100 hidden" data-audio-player-target="pause" alt="pause-bottom">
      <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9v6m-4.5 0V9M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
  <% end %>

  <div class="flex text-white">
    <span data-audio-player-target="currentTime"> 00:00 </span>
    /
    <span data-audio-player-target="duration"> 00:00 </span>
  </div>
  <input type="range" class="max-w-2xl w-full" data-audio-player-target="range" />
</div>
