<%= turbo_stream.update("audio-player") do %>
  <div class="h-20 w-full bg-gray-950 flex"> 
    <%= image_tag(@song.image, class: "w-20 h-full object-cover" ) %>
    <p class="text-lg text-neutral-50">  <%= @song.title %> </p>
  </div>
<% end %>
